[submodule "gb-bootroms"]
	path = gb-bootroms
	url = https://codeberg.org/ISSOtm/gb-bootroms.git
[submodule "gb-test-roms"]
	path = gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "lib/rust-immut"]
	path = lib/rust-immut
	url = https://github.com/libardia/rust-immut.git
[submodule "lib/rust-options"]
	path = lib/rust-options
	url = https://github.com/libardia/rust-options.git
